/* Basic styling for body and header */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f400;
    color: #33333300;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}



header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    float: ;
    display: inline;
    padding: 0 8px 0 8px;
}


.contact {
    padding: 50px 0;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #ffffff00;
    border: #dddddd00 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: calc(100% - 12px);
    padding: 5px;
    margin-bottom: 12px;
    border: #dddddd00 1px solid;
}

.contact form button[type="submit"] {
    background: #33333300;
    color: #ffffff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

.contact form button[type="submit"]:hover {
    background: #66666600;
}

footer {
    background: #333;
    color: #ffffff00;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
